/bin/
*.DS_Store
/build
/target
/.gradle
/.gradle*
/out
*/.idea
#/.settings
/work
WebContent/.idea/
*.log
*.log.*
*.swp

*.class
/.settings
.project
.classpath

# Package Files #
*.war
*.ear
springboot/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
